.schoolYearToggle {
  justify-content: center !important;
  padding-left: 0 !important;
}

.textArea {
  textarea {
    height: 19.0625rem !important;
  }
}

.nameAsk {
  position: relative;
  align-self: center;
  margin-top: 8%;
  padding-bottom: 151px;
  color: $primary-400-color;

  @include font-type('subtitle 1');
}
.nameAskEducation {
  align-self: center;
  margin-top: 5%;
  color: $primary-400-color;
  padding-bottom: 20px;
  @include font-type('subtitle 1');
}
.disclaimer {
  align-self: center;
  @include font-type('subtitle 1');
  font-size: 20px;
  padding-bottom: 20px;
}
.phoneDisclaimer {
  position: absolute;
  left: 130px;
  margin-left: -10%;
  @include font-type('subtitle 1');
  font-size: 16px;
  padding-bottom: 20px;
  width: 435px;
  padding-bottom: 100px;
  text-align: center;
}

.phoneAsk {
  text-align: center;
  margin-top: 5%;
  color: $primary-400-color;
  padding-bottom: 20px;
  @include font-type('subtitle 1');
}

.phoneInput {
  position: absolute;
  text-align: center;
  align-items: center;
  height: 60px;
  width: 500px;
  left: 75px;
  top: 190px;
}
.nameInput {
  position: absolute;
  align-items: center;
  height: 60px;
  width: 500px;
}
