.schoolYearToggle {
  justify-content: center !important;
  padding-left: 0 !important;
}

.textArea {
  textarea {
    height: 19.0625rem !important;
  }
}

.nameAsk {
  position: relative;
  align-self: center;
  margin-top: 8%;
  padding-bottom: 151px;
  color: $primary-400-color;

  @include font-type('subtitle 1');
}
.nameAskEducation {
  align-self: center;
  margin-top: 5%;
  color: $primary-400-color;
  padding-bottom: 20px;
  @include font-type('subtitle 1');
}
.disclaimer {
  align-self: center;
  @include font-type('subtitle 1');
  font-size: 20px;
  padding-bottom: 20px;
}

.phoneContainer {
  background-color: F8E6D8;
}

.phoneDisclaimer {
  position: absolute;
  left: 130px;
  margin-left: -10%;
  @include font-type('subtitle 1');
  font-size: 16px;
  padding-bottom: 20px;
  width: 445px;
  padding-bottom: 100px;
  text-align: justify;
}

.phoneAsk {
  text-align: center;
  margin-top: 5%;
  color: $primary-400-color;
  padding-bottom: 20px;
  @include font-type('subtitle 1');
}
.phoneWrapper {
  padding-left: 100px;
  margin-top: 190px;

  position: absolute;
  height: 60px;
  width: 650px;
}

.nameInput {
  position: relative;
  align-items: center;
  height: 60px;
  width: 500px;
}

.infoIcon {
  padding-right: 0.5rem;
  float: left;
}
