.background {
  background-color: white;
}

//Top banner
.banner {
  padding-top: 10rem;
  width: 100%;
  position: relative;
  justify-content: center;
  text-align: center;
  background-color: $background-color;
  overflow: hidden;

  .bannerContent {
    position: relative;
    z-index: 1;
  }

  .text {
    padding-top: 1.5rem;
    padding-bottom: 1rem;

    @include font-type('body 1');
  }
}

.logo {
  min-width: 250px;
  max-width: 800px;
  width: 38vw;
  height: auto;
}

.byStudents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
  margin-bottom: 10rem;

  .by {
    padding: 0.5rem 3rem;
    background-color: $primary-400-color;
    color: white;

    @include font-type('subtitle 1');
  }

  .students {
    padding: 0.5rem 3rem;
    color: $primary-400-color;

    @include font-type('subtitle 1');
  }
}

.bannerGeisel {
  z-index: 0;
  bottom: 0;
  right: -5rem;
  position: absolute;
}

//Homepage card
div.homePageCardRow {
  max-width: 1500px;
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  justify-content: space-evenly;
}

.homePageCardCol {
  min-height: 600px;

  @include bp-down('xl') {
    height: fit-content;
    margin-bottom: 1.5rem;
  }

  @include bp-down('md') {
    height: auto;
  }
}

.homePageCard {
  left: 0;
  top: 10%;
  background-color: white;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.18);
  border-radius: 8px;
  position: absolute;
  transition: all 1s;
  max-width: 30rem;
  padding-bottom: 3rem;

  &:hover {
    @include bp-up('md') {
      left: 32px;
      top: calc(10% - 32px);
    }
  }

  > div {
    justify-content: center;
  }

  @include bp-down('xl') {
    width: 40vw;
    margin: auto;
  }

  @include bp-down('md') {
    position: relative;
    width: 42vw;
  }

  @media only screen and (max-width: 991px) {
    width: 80vw;
  }

  @include bp-down('sm') {
    top: 0;
  }
}

.cardImage {
  margin-left: auto;
  margin-right: auto;
  min-height: 350px;
  background-size: contain;
  height: auto;
}

.cardBottom {
  text-align: center;
}

.homePageCardText {
  position: relative;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: center;
}

.homePageCardTextTitle {
  margin-bottom: 1rem;

  @include font-type('subtitle 1');
}

//post place stepper
.postPlace {
  position: relative;
  margin-top: 10rem;
  max-width: 93.75rem;
  margin-left: auto;
  margin-right: auto;
}

.stepsHeading {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 5rem;

  @include font-type('h3');
}

.stepsWrapper {
  position: relative;
  padding-left: 8vw;
  padding-right: 8vw;

  .stepImage {
    background-size: contain;

    &LargeScreen {
      position: absolute;
      top: 0;
      left: 0;
      transition: all 1s;
      max-width: 43.75rem;
    }

    &NormalScreen {
      height: 0;

      @include bp-down('xl') {
        height: 40vh;
      }
    }
  }

  .postStep {
    &NormalScreen {
      visibility: hidden;
      height: 0;

      &Description {
        text-align: center;
        margin-bottom: 1.5rem;
      }

      &Text {
        color: $primary-300-color;

        @include font-type('subtitle 1');
      }
    }

    &LargeScreen {
      width: 27rem;
      height: 6rem;

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }

      &Arrow {
        visibility: hidden;

        @include absCenter();
      }

      &Arrow.currentStep {
        visibility: visible;
      }

      &Description {
        width: 25rem;
        height: 100%;
        display: inline-block;
        position: relative;
        background-color: white;
        border-radius: $sm-border-radius;

        &Active {
          box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.18);
          background-color: $primary-300-color;
        }

        @include font-type('subtitle 1');

        @include bp-down('lg') {
          width: 20rem;
          @include font-type('subtitle 3');
        }
      }

      &ArrowWrapper {
        width: 2rem;
        height: 100%;
        display: inline-block;
        position: relative;
      }

      &Text {
        color: $primary-300-color;
        width: fit-content;

        &Active {
          color: white;
        }

        @include absCenter {
          transform: translate(0, -50%);
          left: 2rem;
        }
      }
    }
  }

  @include bp-down('sm') {
    & .postStepLargeScreen,
    & .stepImageLargeScreen {
      visibility: hidden;
      height: 0;
    }

    & .postStepLargeScreenArrow.currentStep {
      visibility: hidden;
    }

    & .postStepNormalScreen {
      visibility: visible;
      height: fit-content;
    }
  }
}

//our mission
div.ourMissonWrapper {
  margin-top: 5rem;
  padding-left: 8vw;
  padding-right: 8vw;
  min-height: 700px;
  max-width: 93.75rem;
  margin-left: auto;
  margin-right: auto;

  .ourMissionTextCol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0;

    &Header {
      font-weight: 600;
      margin-bottom: 16px;

      @include font-type('h3');
    }

    &Description {
      white-space: pre-wrap;
      margin-bottom: 48px;

      @include font-type('body 1');

      @include bp-down('md') {
        @include font-type('body 2');
      }
    }

    &Button {
      margin: 0;
    }
  }

  .ourMissionImage {
    background-size: contain;
    min-height: 700px;
    margin-top: 100px;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;

    @include bp-down('lg') {
      margin: 0;
      margin-top: 1.5rem;
      max-width: 80vw;
    }
  }
}

.backgroundHouse {
  @include bp-down('md') {
    margin-top: 100px;
  }

  @include bp-down('sm') {
    margin-top: 50px;
  }

  @include bp-down('xs') {
    margin-top: 0;
  }
}

//loginSession
.loginSession {
  margin-left: auto;
  margin-right: auto;
  max-width: 1800px;
  margin-top: 9.5rem;
  // display: flex;
  // justify-content: center;
}

.sunGod {
  min-height: 350px;
  max-height: 400px;
  background-size: contain;
  margin-top: 2rem;
}

.bearImage {
  margin-top: -3rem;
  min-height: 150px;
  max-height: 250px;
  background-size: contain;

  @include bp-down('md') {
    width: 0;
    height: 0;
  }
}

//login animation - scroll up
.loginFrame {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  width: fit-content;
  max-width: 1440px;

  border-style: solid;
  border-width: thin;
  border-color: $border-color;
  border-radius: 0.5rem 0.5rem 0.5rem 0;
  background-color: rgba(255, 255, 255, 0.5);

  padding: 2rem;

  transition: all 2s;

  &Moved {
    top: 50%;
  }

  @include absCenter {
    top: 100%;
  }

  @include bp-down('lg') {
    margin-right: 3rem;
  }
}

.loginText {
  display: flex;
  align-items: center;
  color: $primary-400-color;
}

.loginButton {
  margin: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  @include bp-down('sm') {
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

//looking for a place
.findHeading {
  text-align: center;

  @include font-type('h3');
}

.findWrapper {
  padding: 4rem 0 5rem;
  background-color: white; //need to change entire landing page to white later
}

.exploreButton {
  padding: 3rem 0 8rem 0;
}

.houseCardWrapper {
  & > div {
    overflow-x: scroll;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      visibility: hidden;
      display: block;
      height: 12px;
      border-radius: 50px;
      background-color: $border-color;
    }

    &::-webkit-scrollbar-thumb {
      visibility: hidden;
      background: $primary-300-color;
      width: auto;
      border-radius: 50px;
    }

    &:hover {
      &::-webkit-scrollbar,
      &::-webkit-scrollbar-thumb {
        visibility: visible;
      }
    }

    & > div {
      flex-wrap: unset;
      margin-bottom: 0;
    }
  }
}
